body {
      font-family: Helvetica;
      text-align: center;
    }
.breaks {
      color: white;
      background-color: black;
      background-image: url("./resources/images/the-flatiron-building.png");
    }
